{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
    <a href="{% url 'promotions:promotions_create' %}" class="btn btn-primary w-100">Cadastrar Promoção</a>
    {% endif %}
    <div class="row">
        {% for promotion in promotions %}
        <div class="col-12 mt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{promotion.title}}</h5>
                    <p class="card-text">
                        <h1>
                            {{promotion.price}} R$
                        </h1>
                    </p>
                    <a href="{% url 'promotions:promotion_detail' promotion.pk %}" class="card-link">Detalhes</a>
                    <a href="{{promotion.url}}" class="card-link" target="_blank">Acessar Promoção</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}