{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Registrar Usuario</h1>
    <hr>
    <form method="POST">
        {% csrf_token %}
        <input type="email" name="email" id="email" placeholder="Digite seu email">
        <input type="text" name="username" id="username" placeholder="Digite seu username">
        <input type="password" name="password" id="password" placeholder="Digite sua senha">
        <input type="submit" value="Registrar">
    </form>
</div>
{% endblock %}